<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 댓글</title>
    <link rel="stylesheet" href="/mypagecss/mycommentcss.css">
</head>
<body>
<header>
    <h1 style="display: none">스토리웨이브 사이트 홈 화면</h1>
    <div class="nav-bar">
        <a class="storywave-logo" th:href="@{/home}">
            <img class="storywave-img" src="/photo/StoryWaveLogo.png" alt="홈 화면 이동">
        </a>
        <nav class="menu-cont">
            <form class="search-form">
                <label for="search-input" style="display:none;">검색</label>
                <input id="search-input" class="search_box" type="search" name="search_input" placeholder="검색">
                <button id="search_btn"><img class="search_img" src="/photo/search.png" alt="검색 버튼"></button>
            </form>
            <div class="menu-container">
                <div class="menu-cont2">
                    <a th:href="@{/board/Noticepostlist}">공지사항</a>
                    <a th:href="@{/board/Moviepostlist}">영화 <span class="sub-text">리뷰/서평</span></a>
                    <a th:href="@{/board/Bookpostlist}">도서 <span class="sub-text">리뷰/서평</span></a>
                </div>
                <div class="user-menu">
                    <a th:href="@{/mypagecss}">마이페이지</a>
                    <span>|</span>
                    <a th:href="@{/user/logout}">로그아웃</a>
                </div>
            </div>
        </nav>
    </div>
    <hr class="firstLine">
</header>

<main>
    <h2>내 댓글</h2>
    <table class="post-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody id="comment-list">
        <tr th:each="comment : ${comments}">
            <td th:text="${comment.commentId}"></td>
            <td>
                <div class="title" th:text="${comment.content}"></div>
                <span th:text="${comment.post.title}"></span>
            </td>
            <td th:text="${comment.user != null ? comment.user.username : 'Unknown'}"></td>
            <td th:text="${comment.createdAt}"></td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul class="pagination-list">
            <li th:each="page, iterStat : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${page == currentPage} ? ' active' : ''">
                <a th:href="@{/myPage/myComment(page=${page})}"
                   th:text="${page}"></a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>
