<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탈퇴</title>
    <link rel="stylesheet" th:href="@{/mypage/quit.css}">
</head>
<body>
<header>
    <h1 style="display: none">스토리웨이브 사이트 홈 화면</h1>
    <div class="nav-bar">
        <a class="storywave-logo" th:href="@{/home}">
            <img class="storywave-img" src="/photo/StoryWaveLogo.png" alt="홈 화면 이동">
        </a>
        <nav class="menu-cont">
            <form class="search-form">
                <label for="search-input" style="display:none;">검색</label>
                <input id="search-input" class="search_box" type="search" name="search_input" placeholder="검색">
                <button id="search_btn"><img class="search_img" src="/photo/search.png" alt="검색 버튼"></button>
            </form>
            <div class="menu-container">
                <div class="menu-cont2">
                    <a href="#">공지사항</a>
                    <a href="#">영화 <span class="sub-text">리뷰/서평</span></a>
                    <a href="#">도서 <span class="sub-text">리뷰/서평</span></a>
                </div>
                <div class="user-menu">
                    <a th:href="@{/mypage}">마이페이지</a>
                    <span>|</span>
                    <a href="#">로그아웃</a>
                </div>
            </div>
        </nav>
    </div>
    <hr class="firstLine">
</header>

<main>
    <div class="confirm">
        <p>정말로 탈퇴하시겠습니까?</p>
        <p>탈퇴 시 작성한 게시물과 댓글도 모두 삭제됩니다.</p>
        <div class="button-group">
            <button class="cancel-btn" th:onclick="history.back()">취소하기</button>
            <button class="confirm-btn" th:onclick="|location.href='@{/quit_success}'|">탈퇴하기</button>
        </div>
    </div>
</main>
</body>
</html>
