* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    background-color: #EDE7DF;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    background-color: #EDE7DF;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDE7DF;
    padding: 0 20px;
}

.storywave_logo {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu_cont {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.menu_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu_cont2 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 100px;
    margin-top: 90px;
    margin-left: 100px;
    font-size: 20px;
    gap: 80px;
    white-space: nowrap;
}

.sub-text {
    font-size: 14px;
    margin-left: 10px;
}

.user_menu {
    display: flex;
    margin-top: 90px;
    margin-left: auto;
    font-size: 14px;
    gap: 5px;
    white-space: nowrap;
}

.search_form {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 9px;
}

#search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 12px;
}

#search_btn {
    background: none;
    border: none;
    cursor: pointer;
}

.search_img {
    height: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.firstLine {
    display: inline-flex;
    border-style: solid;
    width: 100%; /* 페이지 전체 너비 */
    height: 0.5px; /* 두께 설정 */
    background-color: #ddd;
}

main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.confirmation {
    text-align: center;
    margin-top: 100px;
}

.confirmation h2 {
    margin-bottom: 120px;
    font-size: 50px;
}

.main-btn {
    padding: 16px 39px;
    border: 2px solid #000;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 1px 4px 5px gray;
    background-color: white;
    color: #000;
    cursor: pointer;
}
