* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EDE7DF;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 69px;
    padding: 15px 0;
    background-color: #EDE7DF;
    z-index:10;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 10px;
}

span {
    font-size: 8px;
}

.menu_cont {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 10px;
}

.storywave_img {
    width: 67px;
    height: 85px;
}

.menu_cont2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    padding-top: 28px;
    gap: 28px;
}

#search-input {
    padding: 3px 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    vertical-align: bottom;
}

#search_btn {
    background: none;
    border: none;
    cursor: pointer;
    height: 14px;
}

.search_img {
    height: 14px;
}

.user_menu {
    display: flex;
    align-self: flex-end;
}

.firstLine {
    display: inline-flex;
    margin-top: -19px;
    border-width: 2px;
}

.mainCont {
    padding-top: 85px;
}

.theater_img {
    width: 163px;
    height: 91px;
}

section {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #F9F7F4;
}

.mainSection_first {
    gap: 17px;
}

.mainSection_first, .mainSection_second {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 10px;
    flex-wrap: wrap;
}

.notice_cont, .bestPost_cont {
    padding: 7px 14px;
    flex-basis: 224px;
}

.moviePost_cont {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bookPost_cont {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.moviePost_cont, .bookPost_cont {
    flex-basis: 232px;
    padding: 7px 14px;
}

.secondLine {
    height: 58px;
    border-color: #aeaeae;
    border-style: double;
    align-self: center;
}

.post_title {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.showMore {
    font-size: 8px;
    color: #808080;
}

.article_cont {
    display: flex;
    padding-top: 12px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
}

.article_cont_back {
    height: 91px;
    flex-basis: 163px;
    background-size: cover;
    border-radius: 5px;
    color: black;
    opacity: 40%;
    background-color: #828282;
}
#article_contents_first{
    background-image: url("/templates/theater_photo.jpg");
}