<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세</title>
</head>
<body>
<section class="post_cont">
    <ul th:object="${posts}">
        아니
        <li th:text="${posts.id}"></li>
        왜
        <li th:text="${posts.title}"></li>
        안
        <li th:text="${posts.thumbs}"></li>
        나오는
        <li th:text="${posts.content}"></li>
        거임
        <li th:text="${posts.created_at}"></li>
    </ul>
</section>
<section class="post_cont">
    <h3 class="post_title" th:text="${posts.title}">글 제목</h3>
    <p class="post_info">
            <span class="post_user">
<!--                글쓴이 <span th:text="${users.nickname}"></span>-->
                글쓴이 <span></span>
                날짜 <span class="post_create" th:text="${posts.created_at}"></span>
            </span>
        <span class="post_count">
                공감 <span class="thumbs" th:text="${posts.thumbs}">0</span>
                댓글 수 <span class="comment">0</span>
            </span>
    </p>
    <div class="post_contents_box">
        <p class="post_contents" th:text="${posts.content}">
            게시글의 내용이 들어갈 곳
        </p>
    </div>
    <span class="post_thumbs">공감
                <button id="thumbs_btn">
                    <img class="thumbs_img" src="photo/Thumb%20up.png" alt="">
                </button>
            <span id="thumbs_num" class="thumbs_num">0</span>
        </span>
</section>
</body>
</html>